DATABASE_URL="postgresql://user:password@localhost:5432/toolmanager?schema=public"
JWT_SECRET="supersecret_jwt_key"
PORT=5001
NODE_ENV=development
API_URL="http://localhost:5001"
FRONTEND_URL="http://localhost:5173"

# OAuth Credentials
VK_CLIENT_ID="your_vk_app_id"
VK_CLIENT_SECRET="your_vk_secure_key"

YANDEX_CLIENT_ID="your_yandex_client_id"
YANDEX_CLIENT_SECRET="your_yandex_client_secret"